<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiufang.interviewsystem"
    android:versionCode="2"
    android:versionName="1.0.1">
    <!--Normal Permissions: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Dangerous Permissions:（group）当用户获得某个组内的某个权限后,自动获得组内其他权限 -->
    <!--  1、CAMERA  -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--  二维码扫描start-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--end-->

    <!--  2、LOCATION-->

    <!--  3、STORAGE-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ScanCodeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AllQrcodeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MainTabActivity"
            android:screenOrientation="landscape"/>
        <!--  android:configChanges="keyboardHidden|orientation|screenSize"-->
        <activity
            android:name=".activity.UpdateStuinfoActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>